<main class="content" id="content">
	<div id="row">					
		<div id="colleft">					
			<div id="leftmotor" class="up">LEFT</div>
		</div>					
		<div id="colright">					
			<div id="rightmotor" class="up">RIGHT</div>
		</div>
	</div>
</main>