<main class="content" id="content">
	<div class="row">					
		<div class="col-sm-6" id="colleft">					
			<div class="jumbotron" id="leftmotor">Left Motor</div>
		</div>					
		<div class="col-sm-6" id="colright">					
			<div class="jumbotron" id="rightmotor">Right Motor</div>
		</div>
	</div>
</main>