<main class="content" id="content">
	<div id="row">					
		<div id="colleft">					
			<div id="leftmotor" class="up">Left</div>
		</div>					
		<div id="colright">					
			<div id="rightmotor" class="up">Right</div>
		</div>
	</div>
</main>