<main class="content" id="content">
	<div id="row">					
		<div id="colleft">					
			<div class="jumbotron" id="leftmotor">Left</div>
		</div>					
		<div id="colright">					
			<div class="jumbotron" id="rightmotor">Right</div>
		</div>
	</div>
</main>