<!DOCTYPE html>
<html>
  <head>
	<% include partials/head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<% include partials/main%> 
  </body>
	<link rel='stylesheet' href='/stylesheets/style_a.css'/>
	<script src='/js/start.js'></script>
</html>
